.leftMain {
  height: 100%;
  background-color: #ebebeb;
  box-shadow: 5px 0px 6px #dbdbdb, -5px 0px 6px #dbdbdb;
  width: 100%;
  z-index: -1;
}

.leftMain-menu {
  height: 47%;
  padding: 16px 0px 0px 16px;
}

.leftMain-dialer {
  padding: 16px;
  background-color: white;
  height: 47%;
  position: relative;
}

.menu-items {
  margin-top: 16px;
}

.menu-label {
  font-weight: 700;
  font-size: 20px;
}

.dialer-label {
  font-weight: 600;
  color: #616161;
  font-size: 20px;
}

.dialer-search {
  background-color: #f5f5f5;
  width: 100%;
  margin: 8px 0px;
}

.dialer-search input {
  background-color: transparent;
  border: none;
  padding: 8px;
  outline: none;
}

.dialer-suggested {
  width: 100%;
}

.suggested-label {
  font-size: 16px;
  font-weight: 400;
  color: #616161;
}

.suggested-list {
  width: 100%;
  margin-top: 6px;
}

.dialer-botton {
  position: absolute;
  bottom: 16px;
  display: flex;
  width: 90%;
  justify-content: center;
}

.dialer-botton-icon {
  background-color: #ebebeb;
  padding: 8px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 4px;
  color: #d0d0d0;
}

.ic {
  /* background-color: #ebebeb; */
  padding: 8px;
  height: 20px;
  color: #d0d0d0;
  margin: 0px 4px;
  /* border-radius: 50%; */
}
